@model RegisterVM
@{
    ViewBag.Title = "Hồ sơ";
    ViewBag.pTitle = "Đăng ký tài khoản";
}
<!--authentication-->

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 col-xxl-5 mx-auto">
            <div class="card rounded-4 mb-0 border-top border-4 border-primary border-gradient-1">
                <div class="card-body p-5">
                    <img src="assets/images/logo1.png" class="mb-4" width="145" alt="">
                    <h4 class="fw-bold">Bắt đầu ngay bây giờ</h4>
                    <p class="mb-0">Nhập thông tin đăng nhập của bạn để tạo tài khoản</p>

                    <div class="form-body my-4">
                        <form class="row g-3" asp-action="Register" method="post">
                            <div class="col-12">
                               <div asp-validation-summary="All" class="text-danger"></div>
                            </div>

                            <div class="col-12">
                                <label asp-for="Name" class="form-label">Tên người dùng</label>
                                <input asp-for="Name" class="form-control" placeholder="Nguyễn Văn A" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Email" class="form-label">Địa chỉ Email</label>
                                <input asp-for="Email" class="form-control" placeholder="example@user.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="Password" class="form-label">Mật khẩu</label>
                                <div class="input-group" id="show_hide_password">
                                    <input asp-for="Password" class="form-control border-end-0" type="password" placeholder="Mật khẩu 8 ký tự trở lên" />
                                    <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <label asp-for="ConfirmPassword" class="form-label">Nhập lại mật khẩu</label>
                                <div class="input-group" id="show_hide_password">
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Mật khẩu 8 ký tự trở lên" />
                                    <a href="javascript:;" class="input-group-text bg-transparent"><i class="bi bi-eye-slash-fill"></i></a>
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-grd-danger">Đăng ký</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="text-start">
                                    <p class="mb-0">Bạn đã có tài khoản? <a href="auth-basic-login.html">Vui lòng đăng nhập</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
</div>

<!--authentication-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}