<!--start footer strip-->
<footer class="footer-strip py-3 px-4 px-lg-0 text-center border-top">
    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script>. www.datmarketing.edu.vn. | Quyền chủ sở hữu.</p>
</footer>
<!--end footer strip-->