@{
    ViewBag.Title = "Home";
    ViewBag.pTitle = "DATAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start header-->
<header class="top-header" id="Parent_Scroll_Div">
    <nav class="navbar navbar-expand-xl align-items-center gap-3 container px-4 px-lg-0">
        <div class="logo-header d-none d-xl-flex align-items-center gap-2">
            <div class="logo-icon">
                <img src="assets/images/logo-icon.png" class="logo-img" width="45" alt="">
            </div>
            <div class="logo-name">
                <h5 class="mb-0">DATProfle™</h5>
            </div>
        </div>
        <div class="btn-toggle d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
        </div>

        <div class="offcanvas offcanvas-start w-260" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header border-bottom h-70">
                <div class="d-flex align-items-center gap-2">
                    <div class="">
                        <img src="assets/images/logo-icon.png" class="logo-icon" width="45" alt="logo icon">
                    </div>
                    <div class="">
                        <h4 class="logo-text">DATProfle™</h4>
                    </div>
                </div>
                <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
                    <i class="material-icons-outlined">close</i>
                </a>
            </div>
            <div class="offcanvas-body p-0 primary-menu">
                <ul class="navbar-nav align-items-center mx-auto gap-0 gap-xl-1">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">home</i>
                            </div>
                            <div class="menu-title">Trang chủ</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#About">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">info</i>
                            </div>
                            <div class="menu-title">Giới thiệu</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Services">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">work_outline</i>
                            </div>
                            <div class="menu-title">Dịch vụ</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Portfolio">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">photo_camera</i>
                            </div>
                            <div class="menu-title">Portfolio</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Team">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">people_alt</i>
                            </div>
                            <div class="menu-title">Team</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Pricing">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">euro</i>
                            </div>
                            <div class="menu-title">Bảng giá</div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">
                            <div class="parent-icon">
                                <i class="material-icons-outlined">call</i>
                            </div>
                            <div class="menu-title">Liên hệ</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="">
            <button class="btn btn-grd btn-grd-primary raised d-flex align-items-center rounded-5 gap-2 px-4" type="button">
                <i class="material-icons-outlined">account_circle</i>Tải xuống
            </button>
        </div>
        
    </nav>
</header>
<!--end top header-->
<!--start main wrapper-->
<main class="main-wrapper" data-bs-spy="scroll" data-bs-target="#Parent_Scroll_Div" data-bs-smooth-scroll="false" tabindex="0">
    <div class="main-content">

        <!--start banner-->
        <section class="py-5" id="home">
            <div class="container py-4 px-4 px-lg-0">
                <div class="row align-items-center justify-content-center g-4">
                    <div class="col-12 col-xl-6 order-xl-first order-last">
                        <h1 class="fw-bold mb-3 banner-heading">Antidetect browser</h1>
                        <h5 class="mb-0 banner-paragraph">Trình duyệt đa tài khoản chống nhận diện</h5>
                        <div class="d-flex flex-column flex-lg-row align-items-center gap-3 mt-5">
                            <a href="javascript:;"
                               class="btn btn-lg btn-grd btn-grd-primary d-flex align-items-center rounded-5 gap-2 raised">
                                <i class="material-icons-outlined">speed</i>Bắt đầu ngay
                            </a>
                            <a href="javascript:;" class="btn btn-lg btn-light d-flex align-items-center rounded-5 gap-2 raised">
                                <i class="material-icons-outlined">play_circle_outline</i>Video hướng dẫn
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 text-center">
                        <img src="assets/images/banners/01.png" class="img-fluid" width="560" alt="">
                    </div>
                </div><!--end row-->
                <div class="row g-4 mt-4">
                    <div class="col-12 col-lg-6 col-xl-4 d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-start gap-3">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 btn-grd-info text-white flex-shrink-0">
                                        <i class="material-icons-outlined fs-2">emoji_events</i>
                                    </div>
                                    <div class="">
                                        <h5>Quản lý vân tay trình duyệt</h5>
                                        <p class="mb-0">Tùy chỉnh riêng biệt từng tham số của vân tay điện tử trên các hồ sơ trình duyệt của bạn. Với hơn 50 đặc điểm kết nối khả dụng hiện tại.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-start gap-3">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 btn-grd-danger text-white flex-shrink-0">
                                        <i class="material-icons-outlined fs-2">privacy_tip</i>
                                    </div>
                                    <div class="">
                                        <h5>Hồ sơ tách biệt</h5>
                                        <p class="mb-0">Mỗi hồ sơ trình duyệt đều được lưu trữ riêng biệt trên hệ thống đám mây, đảm bảo an toàn dữ liệu và tính ẩn danh cho mọi hồ sơ trình duyệt của bạn trên các nền tảng web.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xl-4 d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body p-4">
                                <div class="d-flex align-items-start gap-3">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 btn-grd-success text-white flex-shrink-0">
                                        <i class="material-icons-outlined fs-2">try</i>
                                    </div>
                                    <div class="">
                                        <h5>Làm việc nhóm</h5>
                                        <p class="mb-0">Hệ sinh thái tiện lợi hỗ trợ làm việc theo nhóm. Có khả năng chia sẻ hồ sơ trình duyệt và proxy cũng như phân quyền sử dụng cho từng thành viên trong nhóm. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </section>
        <!--end banner-->
        <!--start about us-->
        <section class="py-5 bg-section" id="About">
            <div class="container py-4 px-4 px-lg-0">
                <div class="section-title text-center mb-5">
                    <h1 class="mb-0 section-title-name">Về chúng tôi</h1>
                </div>
                <div class="row g-4">
                    <div class="col-12 col-xl-6">
                        <h6 class="text-uppercase mb-3">DATProfile | Phần mềm quản lý nhiều tài khoản mạng xã hội</h6>
                        <h2 class="mb-3">Trình duyệt chống nhận diện DATProfile là gì?</h2>
                        <p class="mb-3">
                            Bảo vệ các tài khoản của bạn không bị chặn. Đảm bảo sự thoải mái và tự tin khi làm việc trực tuyến.
                        </p>
                        <div class="d-flex flex-column gap-2">
                            <p class="d-flex align-items-start gap-3 mb-0">
                                <i class="material-icons-outlined fs-5">check_circle</i>At vero eos et accusamus et iusto odio
                                dignissimos ducimus blanditiis
                            </p>
                            <p class="d-flex align-items-start gap-3 mb-0">
                                <i class="material-icons-outlined fs-5">check_circle</i>On the other hand, we denounce with righteous
                                indignation
                            </p>
                            <p class="d-flex align-items-start gap-3 mb-0">
                                <i class="material-icons-outlined fs-5">check_circle</i>In a free hour, when our power of choice is
                                untrammelled
                            </p>
                            <p class="d-flex align-items-start gap-3 mb-0">
                                <i class="material-icons-outlined fs-5">check_circle</i>Nor again is there anyone who loves or pursues
                                or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur
                                in which toil and pain can procure him some great pleasure
                            </p>
                        </div>
                        <div class="mt-4">
                            <!-- <a href="javascript:;" class="btn btn-grd btn-grd-primary">Read More</a> -->
                            <a href="javascript:;"
                               class="btn btn-grd btn-grd-primary rounded-5 d-flex align-items-center gap-2 raised px-4">
                                Read More<i class="material-icons-outlined">east</i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <!-- <img src="assets/images/gallery/24.png" class="img-fluid img-thumbnail rounded-4 bg-grd-warning" alt=""> -->
                        <img src="assets/images/banners/widget-1.png" class="img-fluid img-thumbnail rounded-4 bg-grd-warning"
                             alt="">
                    </div>
                </div><!--end row-->

                <div class="mt-5 clients">
                    <h3 class="d-none">Thương hiệu cùng đồng hành</h3>
                    <div class="clients-grid py-3">
                        <div class="clients-shops owl-carousel owl-theme">
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/01.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/02.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/03.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/04.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/05.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/06.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="p-4 rounded-4 card mb-0">
                                    <a href="javascript:;">
                                        <img src="assets/images/clients/07.png" class="img-fluid" alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end about us-->
        <!--start services-->
        <section class="py-5" id="Services">
            <div class="container py-4 px-4 px-lg-0">
                <div class="section-title text-center mb-5">
                    <h1 class="mb-0 section-title-name">Dịch vụ</h1>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                    <div class="col d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body text-center p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 bg-grd-primary text-white flex-shrink-0 mx-auto">
                                        <i class="material-icons-outlined fs-2">favorite_border</i>
                                    </div>
                                    <div class="">
                                        <h5>Asperiores Commodit</h5>
                                        <p class="mb-0">
                                            Non et temporibus minus omnis sed dolor esse consequatur.
                                            Cupiditate sed error ea fuga sit provident adipisci neque.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body text-center p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 bg-grd-danger text-white flex-shrink-0 mx-auto">
                                        <i class="material-icons-outlined fs-2">card_membership</i>
                                    </div>
                                    <div class="">
                                        <h5>Velit Doloremque</h5>
                                        <p class="mb-0">
                                            Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis
                                            aut.
                                            Sed animi at autem alias eius labore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body text-center p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 bg-grd-warning text-white flex-shrink-0 mx-auto">
                                        <i class="material-icons-outlined fs-2">language</i>
                                    </div>
                                    <div class="">
                                        <h5>All Variations</h5>
                                        <p class="mb-0">
                                            Provident nihil minus qui consequatur non omnis maiores.
                                            Eos accusantium minus dolores iure perferendis tempore et consequatur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body text-center p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 bg-grd-branding text-white flex-shrink-0 mx-auto">
                                        <i class="material-icons-outlined fs-2">account_balance</i>
                                    </div>
                                    <div class="">
                                        <h5>Nesciunt Mete</h5>
                                        <p class="mb-0">
                                            Provident nihil minus qui consequatur non omnis maiores.
                                            Eos accusantium minus dolores iure perferendis tempore et consequatur.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body text-center p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 bg-grd-success text-white flex-shrink-0 mx-auto">
                                        <i class="material-icons-outlined fs-2">history</i>
                                    </div>
                                    <div class="">
                                        <h5>Ledo Markt</h5>
                                        <p class="mb-0">
                                            Ut excepturi voluptatem nisi sed. Quidem fuga consequatur.
                                            Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex">
                        <div class="card rounded-4 mb-0 w-100">
                            <div class="card-body text-center p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center justify-content-center rounded-circle wh-64 bg-grd-deep-blue text-white flex-shrink-0 mx-auto">
                                        <i class="material-icons-outlined fs-2">leaderboard</i>
                                    </div>
                                    <div class="">
                                        <h5>Eosle Commodi</h5>
                                        <p class="mb-0">
                                            Ut autem aut autem non a. Sint sint sit facilis nam iusto sint.
                                            Libero corrupti neque eum hic non ut nesciunt dolorem.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </section>
        <!--end services-->
        <!-- start call to action-->
        <section class="py-5 bg-call-to-action">
            <div class="container py-4 px-4 px-lg-0">
                <div class="text-center">
                    <h1 class="text-white">Call To Action</h1>
                    <p class="mb-1 text-white">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.
                        Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.
                        Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                    </p>
                    <div class="mt-4">
                        <a href="javascriptt:;" class="btn btn-grd btn-lg btn-grd-primary rounded-5 px-4 raised">
                            Call To
                            Action
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--end call to action-->
        <!--start portfolio-->
        <section class="py-5" id="Portfolio">
            <div class="container py-4 px-4 px-lg-0">
                <div class="section-title text-center mb-5">
                    <h1 class="mb-0 section-title-name">Portfolio</h1>
                </div>

                <div class="row row-cols-1 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="inner">
                            <a href="https://placehold.co/1920x600/png" class="glightbox">
                                <img src="https://placehold.co/800x500/png" class="img-fluid rounded-4 p-1 bg-grd-branding"
                                     alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inner">
                            <a href="https://placehold.co/1920x600/png" class="glightbox">
                                <img src="https://placehold.co/800x500/png" class="img-fluid rounded-4 p-1 bg-grd-danger"
                                     alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inner">
                            <a href="https://placehold.co/1920x600/png" class="glightbox">
                                <img src="https://placehold.co/800x500/png" class="img-fluid rounded-4 p-1 bg-grd-info"
                                     alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inner">
                            <a href="https://placehold.co/1920x600/png" class="glightbox">
                                <img src="https://placehold.co/800x500/png" class="img-fluid rounded-4 p-1 bg-grd-warning"
                                     alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inner">
                            <a href="https://placehold.co/1920x600/png" class="glightbox">
                                <img src="https://placehold.co/800x500/png" class="img-fluid rounded-4 p-1 bg-grd-success"
                                     alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="inner">
                            <a href="https://placehold.co/1920x600/png" class="glightbox">
                                <img src="https://placehold.co/800x500/png" class="img-fluid rounded-4 p-1 bg-grd-voilet"
                                     alt="image">
                            </a>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </section>
        <!--end portfolio-->
        <!--start team-->
        <section class="py-5 bg-section" id="Team">
            <div class="container py-4 px-4 px-lg-0">
                <div class="section-title text-center mb-5">
                    <h1 class="mb-0 section-title-name">Team</h1>
                </div>

                <div class="row row-cols-1 row-cols-xl-2 g-4">
                    <div class="col">
                        <div class="card mb-0 rounded-4">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column flex-lg-row align-items-center gap-4">
                                    <div class="">
                                        <img src="https://placehold.co/120x120/png" width="120" height="120"
                                             class="rounded-circle p-1 bg-white bg-grd-warning" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <div class="my-4">
                                            <h3 class="mb-1">Sarah Jhonson</h3>
                                            <p class="mb-3 fs-6">UI Developer</p>
                                            <p class="mb-0">Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start gap-3">
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-deep-blue text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-linkedin fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-info text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-facebook fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-danger text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-youtube fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-voilet text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-twitter-x fs-5"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-0 rounded-4">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column flex-lg-row align-items-center gap-4">
                                    <div class="">
                                        <img src="https://placehold.co/120x120/png" width="120" height="120"
                                             class="rounded-circle p-1 bg-white bg-grd-danger" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <div class="my-4">
                                            <h3 class="mb-1">Pauline Roman</h3>
                                            <p class="mb-3 fs-6">Graphic Designer</p>
                                            <p class="mb-0">Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start gap-3">
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-deep-blue text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-linkedin fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-info text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-facebook fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-danger text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-youtube fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-voilet text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-twitter-x fs-5"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-0 rounded-4">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column flex-lg-row align-items-center gap-4">
                                    <div class="">
                                        <img src="https://placehold.co/120x120/png" width="120" height="120"
                                             class="rounded-circle p-1 bg-white bg-grd-primary" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <div class="my-4">
                                            <h4 class="mb-1">David Buckley</h4>
                                            <p class="mb-3">Android Developer</p>
                                            <p class="mb-0">Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start gap-3">
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-deep-blue text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-linkedin fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-info text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-facebook fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-danger text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-youtube fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-voilet text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-twitter-x fs-5"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-0 rounded-4">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column flex-lg-row align-items-center gap-4">
                                    <div class="">
                                        <img src="https://placehold.co/120x120/png" width="120" height="120"
                                             class="rounded-circle p-1 bg-white bg-grd-success" alt="">
                                    </div>
                                    <div class="profile-info">
                                        <div class="my-4">
                                            <h4 class="mb-1">Amanda Jepson</h4>
                                            <p class="mb-3">Product Manager</p>
                                            <p class="mb-0">Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-start gap-3">
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-deep-blue text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-linkedin fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-info text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-facebook fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-danger text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-youtube fs-5"></i>
                                            </a>
                                            <a href="javascript:;"
                                               class="wh-42 bg-grd-voilet text-white rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-twitter-x fs-5"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </section>
        <!--end team-->
        <!--start pricing table-->
        <section class="py-5" id="Pricing">
            <div class="container py-4 px-4 px-lg-0">
                <div class="section-title text-center mb-5">
                    <h1 class="mb-0 section-title-name">Pricing</h1>
                </div>

                <div class="row g-4">
                    <div class="col-12 col-xl-4">
                        <div class="card border-top border-4 border-primary rounded-4 mb-0">
                            <div class="card-body p-4">
                                <div class="my-4">
                                    <h3 class="mb-0">Basic Plan</h3>
                                </div>
                                <div class="pricing-content d-flex flex-column gap-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Bandwith</p>
                                        <p class="mb-0 fw-medium fs-6">50 GB</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Add-On Domains</p>
                                        <p class="mb-0 fw-medium fs-6">10</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">SSD Storage</p>
                                        <p class="mb-0 fw-medium fs-6">250 GB</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Mail Adresses</p>
                                        <p class="mb-0 fw-medium fs-6">25</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Support</p>
                                        <p class="mb-0 fw-medium fs-6">Only Mail</p>
                                    </div>
                                </div>
                                <div class="price-tag d-flex align-items-center justify-content-center gap-2 my-5">
                                    <h5 class="mb-0 align-self-end text-primary">$</h5>
                                    <h1 class="mb-0 lh-1 price-amount text-primary">499</h1>
                                    <h5 class="mb-0 align-self-end text-primary">/month</h5>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-grd btn-grd-info w-100 rounded-5">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card border-top border-4 border-success rounded-4 mb-0">
                            <div class="card-body p-4">
                                <div class="my-4">
                                    <h3 class="mb-0">Business Plan</h3>
                                </div>
                                <div class="pricing-content d-flex flex-column gap-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Bandwith</p>
                                        <p class="mb-0 fw-medium fs-6">50 GB</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Add-On Domains</p>
                                        <p class="mb-0 fw-medium fs-6">10</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">SSD Storage</p>
                                        <p class="mb-0 fw-medium fs-6">250 GB</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Mail Adresses</p>
                                        <p class="mb-0 fw-medium fs-6">25</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Support</p>
                                        <p class="mb-0 fw-medium fs-6">Only Mail</p>
                                    </div>
                                </div>
                                <div class="price-tag d-flex align-items-center justify-content-center gap-2 my-5">
                                    <h5 class="mb-0 align-self-end text-success">$</h5>
                                    <h1 class="mb-0 lh-1 price-amount text-success">999</h1>
                                    <h5 class="mb-0 align-self-end text-success">/month</h5>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-grd btn-grd-success w-100 rounded-5">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card border-top border-4 border-danger rounded-4 mb-0">
                            <div class="card-body p-4">
                                <div class="my-4">
                                    <h3 class="mb-0">Developer Plan</h3>
                                </div>
                                <div class="pricing-content d-flex flex-column gap-3">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Bandwith</p>
                                        <p class="mb-0 fw-medium fs-6">50 GB</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Add-On Domains</p>
                                        <p class="mb-0 fw-medium fs-6">10</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">SSD Storage</p>
                                        <p class="mb-0 fw-medium fs-6">250 GB</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Mail Adresses</p>
                                        <p class="mb-0 fw-medium fs-6">25</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="mb-0 fs-6">Support</p>
                                        <p class="mb-0 fw-medium fs-6">Only Mail</p>
                                    </div>
                                </div>
                                <div class="price-tag d-flex align-items-center justify-content-center gap-2 my-5">
                                    <h5 class="mb-0 align-self-end text-danger">$</h5>
                                    <h1 class="mb-0 lh-1 price-amount text-danger">799</h1>
                                    <h5 class="mb-0 align-self-end text-danger">/month</h5>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-grd btn-grd-danger w-100 rounded-5">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->

            </div>
        </section>
        <!--end pricing table-->
        <!--start contact form-->
        <section class="py-5 bg-section" id="Contact">
            <div class="container py-4 px-4 px-lg-0">
                <div class="section-title text-center mb-5">
                    <h1 class="mb-0 section-title-name">Liên hệ</h1>
                </div>

                <div class="row g-4">
                    <div class="col-12 col-xl-5">
                        <div class="card rounded-4">
                            <div class="card-body p-4">
                                <div class="d-flex flex-column gap-4">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="wh-48 bg-info bg-opacity-10 text-info rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="material-icons-outlined">house</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0">Địa chỉ:</h5>
                                            <p class="mb-0">4/11 Lưu Chí Hiếu, Phường Tây Thạnh, Quận Tân Phú, TP.Hồ Chí Minh, Việt Nam</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="wh-48 bg-danger bg-opacity-10 text-danger rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="material-icons-outlined">call</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0">Điện thoại</h5>
                                            <p class="mb-0">0373.775.375</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="wh-48 bg-warning bg-opacity-10 text-warning rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="material-icons-outlined">email</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0">Email</h5>
                                            <p class="mb-0">info@datmarketing.edu.vn</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card rounded-4">
                            <div class="card-body p-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9584993.017565502!2d-15.007252921431434!3d54.08994727271037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited%20Kingdom!5e0!3m2!1sen!2sin!4v1721760880045!5m2!1sen!2sin"
                                        height="255" style="border:0; border-radius: 16px; width: 100%;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-xl-7">
                        <div class="card rounded-4 mb-0">
                            <div class="card-body p-4">
                                <form>
                                    <div class="row g-4">
                                        <div class="col-12 col-lg-6">
                                            <label for="YourName" class="form-label">Tên khách hàng</label>
                                            <input type="text" class="form-control" id="YourName" placeholder="Nhập thông tin khách hàng">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <label for="YourName" class="form-label">Địa chỉ Email</label>
                                            <input type="email" class="form-control" id="EmailId" placeholder="Nhập địa chỉ Email">
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <label for="Subject" class="form-label">Nội dung</label>
                                            <input type="text" class="form-control" id="Subject" placeholder="Nội dung">
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <label for="Message" class="form-label">Tin nhắn</label>
                                            <textarea class="form-control" id="Message" rows="10" cols="5"></textarea>
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <button type="submit" class="btn btn-grd btn-grd-primary px-4 rounded-5">Gửi thông tin</button>
                                        </div>
                                    </div><!--end row-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </section>
        <!--end contact form-->

    </div>
</main>
<!--end main wrapper-->
<!--start footer -->
<section class="page-footer py-5">
    <div class="container py-4 px-4 px-lg-0">
        <div class="row g-4">
            <div class="col-12 col-xl-4">
                <div class="footer-widget-1">
                    <div class="footer-logo mb-4">
                        <img src="assets/images/logo1.png" width="160" alt="">
                    </div>
                    <p></p>
                    <p class="mb-2"><strong>Địa chỉ: </strong>4/11 Lưu Chí Hiếu, Phường Tây Thạnh, Quận Tân Phú, TP.Hồ Chí Minh, Việt Nam</p>
                    <p class="mb-2"><strong>Điện thoại: </strong>0373.775.375</p>
                    <p class="mb-0"><strong>Email: </strong>info@datmarketing.edu.vn</p>
                    <div class="play-store-images d-flex align-items-center gap-3 mt-4">
                        <a href="javascript:;">
                            <img src="assets/images/google-play-store.png" width="160" alt="">
                        </a>
                        <a href="javascript:;">
                            <img src="assets/images/apple-store.png" width="160" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-2">
                <div class="footer-widget-2">
                    <div class="footer-links">
                        <h5 class="mb-4">Liên kết</h5>
                        <div class="d-flex flex-column gap-2">
                            <a href="javascript:;">Trang chủ</a>
                            <a href="javascript:;">Giới thiệu</a>
                            <a href="javascript:;">Dịch vụ</a>
                            <a href="javascript:;">Portfolio</a>
                            <a href="javascript:;">Liên hệ</a>
                            <a href="javascript:;">Điều khoản dịch vụ</a>
                            <a href="javascript:;">Chính sách bảo mật</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-2">
                <div class="footer-widget-3">
                    <div class="footer-links">
                        <h5 class="mb-4">Dịch vụ</h5>
                        <div class="d-flex flex-column gap-2">
                            <a href="javascript:;">Phát triển sản phẩm</a>
                            <a href="javascript:;">Thiết kế đồ họa</a>
                            <a href="javascript:;">Nguồn nhân lực</a>
                            <a href="javascript:;">Nhà phát triển phần mềm</a>
                            <a href="javascript:;">Thiết kế Web</a>
                            <a href="javascript:;">Quản lý CRM</a>
                            <a href="javascript:;">Trang web thương mại điện tử</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="footer-widget-4">
                    <h5 class="mb-4">Bản tin của chúng tôi</h5>
                    <div class="d-flex flex-column gap-2">
                        <p>Hãy tham gia bản tin của chúng tôi để nhận thông tin mới nhất về hàng hóa và dịch vụ của chúng tôi.</p>
                        <form>
                            <div class="input-group subscribe-control">
                                <input type="text" class="form-control">
                                <button class="btn btn-grd btn-grd-primary px-4" type="button">Gửi thông tin</button>
                            </div>
                        </form>
                    </div>
                    <h6 class="mb-3 mt-4">Theo dõi ngay</h6>
                    <div class="d-flex align-items-center justify-content-start gap-3">
                        <a href="javascript:;"
                           class="wh-42 bg-grd-deep-blue text-white rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-linkedin fs-5"></i>
                        </a>
                        <a href="javascript:;"
                           class="wh-42 bg-grd-info text-white rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-facebook fs-5"></i>
                        </a>
                        <a href="javascript:;"
                           class="wh-42 bg-grd-danger text-white rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-youtube fs-5"></i>
                        </a>
                        <a href="javascript:;"
                           class="wh-42 bg-grd-voilet text-white rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-twitter-x fs-5"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div><!--end row-->
    </div>
</section>
<!--end footer section-->
<!--Start Back To Top Button-->
<a href="javaScript:;" class="back-to-top"><i class="material-icons-outlined">arrow_upward</i></a>
<!--End Back To Top Button-->
@section scripts {



}